*~
.#*
cmd/koinonia/bindata.go
cmd/koinonia/koinonia
debian/*.debhelper.log
debian/*debhelper
debian/debhelper-build-stamp
debian/files
debian/koinonia-server.substvars
debian/koinonia-server/*
debina/changelog
koinonia
obj-x86_64-linux-gnu
