*~
.#*
beauties
cmd/beauties/beauties
cmd/beauties/bindata.go
debian/*.debhelper.log
debian/*debhelper
debian/beauties.substvars
debian/beauties/*
debian/changelog
debian/debhelper-build-stamp
debian/files
obj-x86_64-linux-gnu
tmp/**